! I prefer 16-color mode
xterm.termName: xterm-16color

xterm.vt100.colorMode: on
xterm.vt100.boldColors: on
xterm.vt100.dynamicColors: on

! Set the default text foreground and background colors.
xterm.vt100.foreground: gray90
xterm.vt100.background: black

xterm.vt100.colorULMode: off 
xterm.vt100.colorUL: yellow
xterm.vt100.italicULMode: off

! Uncomment this to disable underlining, e.g., if colorULMode is set.
!xterm.vt100.underLine: off

! Uncomment this to use color for the bold attribute
!xterm.vt100.colorBDMode: on
xterm.vt100.colorBD: white

! Uncomment this to use the bold/underline colors in preference to other colors
!xterm.vt100.colorAttrMode: on

! These are the 8 ANSI colors and their bright equivalents.  Depending on
! other resource settings, xterm may use the bright colors when displaying
! bold text (see the boldColors resource).
xterm.vt100.color0: black
xterm.vt100.color1: red3
xterm.vt100.color2: green3
xterm.vt100.color3: yellow3
!xterm.vt100.color4: blue2
xterm.vt100.color4: blue
xterm.vt100.color5: magenta3
xterm.vt100.color6: cyan3
xterm.vt100.color7: gray90
xterm.vt100.color8: gray50
xterm.vt100.color9: red
xterm.vt100.color10: green
xterm.vt100.color11: yellow
!xterm.vt100.color12: rgb:5c/5c/ff
xterm.vt100.color12: teal
xterm.vt100.color13: fuchsia
xterm.vt100.color14: aqua
xterm.vt100.color15: white

! Reverse colors > on: white on black, off: black on white956121
xterm.vt100.reverseVideo: off 

! Ensure using UTF-8
xterm.vt100.locale: true

! Force UTF-8
xterm.vt100.locate: false
xterm.vt100.utf8: true

! Set default xterm window size:
xterm.vt100.geometry: 110x32

! I prefer to use pixel font with large font size
xterm.vt100.initialFont: 6

! Enable/Disable TrueType fonts:
xterm.vt100.renderFont: false

! Default font and size:
xterm.vt100.faceName: Monaspace Neon Var Medium
xterm.vt100.faceSize: 12

! Enable Right-side scrollbar:
xterm.vt100.scrollBar: false
xterm.vt100.rightScrollBar: true 
xterm.vt100.leftScrollBar: false 
xterm.vt100.scrollbar.width: 15
xterm.vt100.scrollbar.foreground: gray50 
xterm.vt100.scrollbar.background: black 
xterm.vt100.scrollbar.borderWidth: 0
xterm.vt100.scrollbar.displayList: 0
xterm.vt100.scrollbar.thumb: true

! Scrollbacks:
xterm.vt100.savelines: 16384

! Enable clipboard:
xterm.vt100.selectToClipboard: true

! Double-click to select whole word and URLs:
xterm.vt100.charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Right Click for paste instead of middle button / Ctrl-C to copy, Ctrl-V to paste / Ctrl-M to maximize, Ctrl-R to restore terminal window
xterm.vt100.translations: #override \n\
	~Ctrl ~Meta <Btn3Down>: ignore() \n\
	Meta <Btn3Down>: clear-saved-lines() \n\
	~Ctrl ~Meta <Btn3Up>: insert-selection(SELECT, CUT_BUFFER0) \n\
	~Ctrl ~Meta <Btn2Down>: start-extend() \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
	Ctrl <Key>M: maximize() \n\
	Ctrl <Key>R: restore() \n\

! Enable <Alt> key combination:
xterm.vt100.metaSendsEscape: true

! Make <Alt> work:
xterm.vt100.eightBitInput:   false
xterm.vt100.eightBitOutput:  true

! Fix backspace key
xterm.vt100.backarrowKey: false
xterm.ttyModes: erase ^?

xterm.vt100.loginshell: true
xterm.vt100.internalBorder: 2 

